---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<FILTERED_OPEN_WEATHER_API_KEY>&lang=es&lat=19.4326&lon=-99.133208&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1738897200,"main":{"temp":20.32,"feels_like":19.11,"temp_min":19.71,"temp_max":20.32,"pressure":1013,"sea_level":1013,"grnd_level":765,"humidity":27,"temp_kf":0.61},"weather":[{"id":802,"main":"Clouds","description":"nubes
        dispersas","icon":"03n"}],"clouds":{"all":27},"wind":{"speed":4.31,"deg":35,"gust":6.42},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-02-07
        03:00:00"},{"dt":1738908000,"main":{"temp":18.99,"feels_like":17.81,"temp_min":18.17,"temp_max":18.99,"pressure":1015,"sea_level":1015,"grnd_level":765,"humidity":33,"temp_kf":0.82},"weather":[{"id":801,"main":"Clouds","description":"algo
        de nubes","icon":"02n"}],"clouds":{"all":13},"wind":{"speed":2.02,"deg":1,"gust":2.62},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-02-07
        06:00:00"},{"dt":1738918800,"main":{"temp":16.69,"feels_like":15.35,"tem[...]
