---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<FILTERED_OPEN_WEATHER_API_KEY>&lang=es&lat=19.4326&lon=-99.133208&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1738076400,"main":{"temp":10.96,"feels_like":9.52,"temp_min":10.96,"temp_max":17.13,"pressure":1018,"sea_level":1018,"grnd_level":766,"humidity":54,"temp_kf":-6.17},"weather":[{"id":803,"main":"Clouds","description":"muy
        nuboso","icon":"04d"}],"clouds":{"all":75},"wind":{"speed":0.24,"deg":107,"gust":0.73},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-01-28
        15:00:00"},{"dt":1738087200,"main":{"temp":14.65,"feels_like":13.35,"temp_min":14.65,"temp_max":22.03,"pressure":1017,"sea_level":1017,"grnd_level":765,"humidity":45,"temp_kf":-7.38},"weather":[{"id":803,"main":"Clouds","description":"muy
        nuboso","icon":"04d"}],"clouds":{"all":75},"wind":{"speed":0.98,"deg":73,"gust":0.95},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-01-28
        18:00:00"},{"dt":1738098000,"main":{"temp":20.13,"feels_like":18.98,"temp[...]
